* {
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: lightcyan;
}

h1 {
    color: green;
    font-size: 50px;
}

#board {
    height: 500px;
    width: 500px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-color: black;
    border-style: solid;
}

#board > div {
    border-color: black;
    border-style: solid;
}

#play-again-btn {
    border-color: gray;
    font-size: 30px;
    color: gray;
    border-radius: 5%;
    padding: 5px;
    background-color: transparent;
    transition-duration: 0.4s;

}

#play-again-btn:hover {
    color: beige;
    background-color: gray;
    border-color: gray;
}

.PURPLE {
    color: purple;
}

.ORANGE {
    color: orange;
}

.blank-box:hover {
    background-color: lightgreen !important;
    cursor: grab;
}